/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Css Variables */

:root {
    --header-height: 3rem;
    /* Colors */
    --hue-color: 206;
    --black-color: hsl(var(--hue-color), 4%, 4%);
    --black-color-alt: hsl(var(--hue-color), 4%, 8%);
    --title-color: hsl(var(--hue-color), 4%, 95%);
    --text-color: hsl(var(--hue-color), 4%, 75%);
    --text-color-light: hsl(var(--hue-color), 4%, 65%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 4%, 6%);
    --container-color: hsl(var(--hue-color), 4%, 10%);
    --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
    --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
    --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
    /* Test Sizes Vars */
    --body-font: font-family: 'Poppins', sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;
    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    /* Margenes Bottom */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /* z-idnex */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and(min-width: 968px) {
     :root {
        --biggest-font-size: 7.5rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* Basic start */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}


/* CSS CLASSES */

.section {
    padding: 4rem 0 2rem;
}

.section__title {
    font-size: var(--bigger-font-size);
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/* LAYOUT */

.main {
    overflow: hidden;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}


/* Header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: transparent;
}


/* NAV */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 4rem;
    height: auto;
}

.nav__toggle {
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
    margin-right: 1.8rem;
}

@media screen and (max-width:767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        transition: .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nav__link {
    color: #C85C1C;
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    background:var(--white-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: .5rem;
}

.nav__link:hover {
    background: #C85C1C;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 3rem;
    color: var(--white-color);
    cursor: pointer;
}

.show-menu {
    top: 0;
}


/* ACTIVE LINK */

.active-link {
    background:      #C85C1C;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/*Change Baclground Header*/

.scroll-header {
    background-color: var(--body-color);
}


/* Home Section Start Here */

.home__img {
    width: 450px;
    position: absolute;
    top: -5rem;
    right: -2.2rem;
}

.home__data {
    padding-top: 5rem;
}

.home__header {
    position: relative;
}

.home__title {
    font-size: var(--biggest-font-size);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 8rem;
    left: 1rem;
    line-height: 4rem;
}

.home__subtitle {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2-5);
}

.home__title-description {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.home__descriprion {
    margin-bottom: var(--mb-2-5);
    line-height: var(--text-line-height);
}

.home__price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: var(--mb-0-75);
}


/* BUTTONS */

.button {
    display: inline;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--black-color-alt);
}

.button__icon {
    font-size: 1.2rem;
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}


/* SOPNSOR SECTION  */

.sponsor__img {
    width: 80px;
}

.sponsor__container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
}


/*     Specs Start */

.specs__container {
    position: relative;
}

.specs__content {
    row-gap: 1.5rem;
}

.specs__data {
    display: grid;
    row-gap: .25rem;
}

.specs__icon {
    font-size: 1.2rem;
    color: var(--white-color);
}

.specs__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.specs__subtitle {
    font-size: var(--smaller-font-size);
}

.specs__data:nth-child(1),
.specs__data:nth-child(4) {
    margin-left: var(--mb-1-5);
}

.specs__img {
    width: 290px;
    position: absolute;
    top: 1.2rem;
    right: -2rem;
}


/* Case siction start */

.case__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
}

.case__data {
    padding: 5rem 0 3rem;
}

.case__img {
    width: 250px;
    position: absolute;
    left: -3rem;
    top: 5rem;
}

.case__description {
    margin-bottom: var(--mb-1-5);
    line-height: var(--text-line-height);
}


/* DICSOUNT START */

.discount__container {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: .75rem;
}

.discount__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}

.discount__description {
    margin-bottom: var(--mb-1);
}

.discount__img {
    width: 300px;
    position: absolute;
    right: -5rem;
}


/* Products sTart */

.products__line {
    line-height: 4rem;
}

.products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 1.5rem;
    padding-top: 3rem;
}

.products__card {
    position: relative;
    height: 132px;
    background-color: var(--container-color);
    padding-top: 1rem;
    border-radius: .5rem;
    display: grid;
}

.products__img {
    width: 80%;
    position: absolute;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    top: -4rem;
}

.products__content {
    align-self: flex-end;
    padding-bottom: 1rem;
    padding-left: .5rem;
}

.products__title,
.products__price {
    padding-bottom: .8rem;
    font-size: var(--normal-font-size);
}

.products__button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    padding: .5rem;
    border-radius: .35rem;
}

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__logo {
    width: 5rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.footer__link {
    color: var(--text-color);
}

.footer__link:hover {
    color: var(--white-color)
}

.footer__form {
    display: flex;
    column-gap: .5rem;
    background-color: var(--container-color);
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-2);
}

.footer__input {
    background-color: var(--container-color);
    width: 90%;
    color: var(--white-color);
}

.footer__input::placeholder {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font)
}

.footer__social {
    display: flex;
    column-gap: 1.2rem;
}

.footer__social-link {
    display: inline;
    color: var(--white-color);
    background-color: var(--container-color);
    padding-bottom: .5rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.footer__social-link:hover {
    background-color: var(--black-color);
}

.footer__copy {
    margin-top: 5rem;
    text-align: center;
}

.footer__copy-link {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}


/* SCROLL UP */

.scrollup {
    position: fixed;
    right: 3rem;
    bottom: -20%;
    display: flex;
    background-color: var(--container-color);
    border-radius: .25rem;
    padding: .45rem;
    opacity: 9;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup__icon {
    color: var(--white-color);
    font-size: 1.35rem;
}

.scrollup:hover {
    background-color: var(--black-color);
    opacity: 1;
}

.show-scroll {
    bottom: 5rem;
}


/* scrollBar */

::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-color-alt);
}


/*============MEDIA QUERIES===============*/


/*fOR Small Devices*/

@media screen and (max-width:375px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .section__title {
        font-size: var(--big-font-size);
    }

    .home__img {
        width: 500px;
        position: absolute;
        top: -2rem;
        right: -.5rem;
    }
    .nav__logo{
        width: 4rem;
        height: auto;
    }
    .home__title {
            top:-4rem;
            left: -1rem;
     }
    .specs__img {
        width: 220px;
    }
    .case__container {
        grid-template-columns: .6fr 1fr;
    }
    .case__img {
        width: 220px;
        left: -6rem;
        top: -.2rem;
    }
    .case__data {
        padding: 0;
    }
    .discount__img {
        width: 280px;
        right: -9rem;
    }
    .products__container {
        grid-template-columns: 142px;
        justify-content: center;
    }
    .products__img {
        width: 70%;
        top: -3rem;
    }
}


@media screen and (min-width:414px) {
/* .nav__logo{
    width: 4rem;
    height: auto;
} */
    .home__title {
        top:-4rem;
        left: -1rem;
    }
    .sponsor__img{
        width: 4rem;
    }
    .sponsor__container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        row-gap: 4rem;
        justify-items: center;
        align-items: center;
    }
    
    .products__img {
        width: 70%;
        top: -4rem;
    }

}

@media screen and (min-width:576px) {
    /* .nav__logo{
        width: 4rem;
        height: auto;
    } */
    .nav__toggle {
        margin-right: 0rem;
    }
    .home__container {
        grid-template-columns: .8fr 1fr;
    }
    .home__data {
        padding-top: 2rem;
    }
    .home__img {
        width: 90%;
        top: 0rem;
        left: -10rem;
    }
    .home__title {
        top: -5rem;
        left: -1rem;
        line-height: 4rem;
    }
    .sponsor__container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        row-gap: 2rem;
        justify-items: center;
        align-items: center;
    }
    .specs__img {
        width: 290px;
        top: 1.2rem;
        right: 6rem;
    }
    .specs__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .case__img {
        width: 300px;
        position: initial;
    }
    .case__data {
        padding: 0;
    }
    .case__container {
        grid-template-columns: max-content 250px;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }
    .discount__img {
        position: initial;
    }
    .discount__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .products__container {
        grid-template-columns: repeat(3, 162px);
        justify-content: center;
    }
    .products__img {
        width: 60%;
        top: -3rem;
    }
}

@media screen and (min-width:767px) {
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    /* .nav__logo {
        width: 4rem;
    } */
    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }
    .nav__link {
        font-size: var(--normal-font-size);
        text-transform: initial;
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .home__container {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
    }
    .home__img {
        top: -9rem;
        left: -8rem;
    }
    .home__data {
        padding-top: 8rem;
    }
    .home__title {
        top: -3rem;
        left: -1rem;
        line-height: 4rem;
    }
    .home__subtitle {
        padding-top: 1rem;
    }
    .sponsor__container {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        row-gap: 2rem;
        justify-items: center;
        align-items: center;
    }
    .specs__img {
        width: 300px;
    }

    .case__container {
        column-gap: 5rem;
    }
    .case__img {
        width: 350px;
    }
    .case__description {
        margin-bottom: var(--mb-2);
    }
    .discount__container {
        grid-template-columns: 250px max-content;
        justify-content: center;
        column-gap: 5rem;
        padding: 3rem 0;
    }
    .discount__title {
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-1);
    }
    .discount__description {
        margin-bottom: var(--mb-2);
    }
    .discount__img {
        width: 300px;
    }
    .products__container {
        grid-template-columns: repeat(3, 162px);
        gap: 6rem 3rem;
        padding-top: 5rem;
    }
    .products__card {
        height: 152px;
        padding-top: .85rem;
    }
    .footer__container {
        grid-template-columns: .4fr .7fr .7fr 1fr;
    }
}

@media screen and (min-width:1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .home__img {
        width: 80%;
        top: -13rem;
    }
    .home__title {
        top: -4rem;
        left: -1rem;
    }
    .home__subtitle {
        padding-top: 0rem;
    }
    .home__descriprion {
        padding-right: 5rem;
    }
    .sponsor__img {
        width: 100px;
    }
    .specs__img {
        position: initial;
        width: 290px;
        top: 1.2rem;
        right: -2rem;
    }
    .specs__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .discount__img {
        width: 350px;
    }
    .footer__container {
        padding-top: 3rem;
    }
    .footer__copy {
        margin-top: 9rem;
    }
}